/* ----- BOTONES ----- */

.button {
    display         : inline-block;
    padding         : 0.75rem 1.25rem;
    border-radius   : 1.5rem;
    text-decoration : none;
    font-weight     : 600;
    color           : var(--white-color);
    background      : var(--color);
    border          : 1px solid var(--color);
  }
  
  .button:hover {
    background : var(--color-alt);
  }
  
  .button.white {
    --color     : var(--white-color);
    --color-alt : var(--body-bg-color);
    color       : var(--primary-color);
  }
  
  .button.ghost {
    color      : var(--color);
    background : transparent;
  }
  
  .button.ghost:hover {
    color      : var(--white-color);
    background : var(--color);
  }
  
  .button.ghost.white:hover {
    color      : var(--primary-color);
    background : var(--color);
  }